<h1>All Songs</h1>

<ul>
  <% @songs.each do |song| %>
    <li><%= song.title %></li>
    <li><%= link_to Artist.find(song.artist_id).name, artist_path(song.artist_id) %></li>
    <br/>
  <% end %>
</ul>
<br/><%= link_to "All Artists", artists_path %>
