<h1><%= @song.title %>
<br/>

<h3><%= link_to @song.artist.name, artist_path(@song.artist) %></h3>
<br/>
<h3><%= link_to "Edit song", edit_song_path(@song) %></h3>
<br/>
<%= link_to "Delete song", song_path(@song), method: :delete %>
